<div class="form_group">
  <%= @last_result.result %>
  <%= form_with model: @is_why, url: analysis_is_whies_path do |f| %>
    <%= f.label :result, "それはなぜですか？" %>
    <%= f.text_field :result %>
    <%= f.submit %>
  <% end %>
</div>
<div>
  <% @is_whies.each_with_index do |is_why, index| %>
    <%= index + 1 %>
    <%= is_why.result %>
  <% end %>
</div>