<% content_for :css do %>
  <%= stylesheet_link_tag 'is_whies' %>
<% end %>
<div class="l-main">
  <div class="l-card">
    <div class="l-card-btn">
      <%= link_to analysis_path(@analysis) do %>
        入力せずに終了する
        <i class="fa-solid fa-arrow-pointer"></i>
      <% end %>
    </div>
    <div class="l-card-question_sentence">
      <span>なぜ</span>
      <% if @last_result.present? %>
        「<%= @last_result.result %>」
      <% else %>
        「<%= @analysis.target %>」
      <% end %>
    </div>
    <div class="l-card-form_group">
      <%= form_with model: @is_why, url: analysis_is_whies_path do |f| %>
        <div class="l-card-form_group__label">
          <%= f.label :result, "それはなぜですか？" %>
        </div>
        <div class="l-card-form_group__input">
          <%= f.text_field :result %>
        </div>
        <div class="l-card-form_group__btn">
          <%= f.submit "続ける", name: 'next' %>
          <%= f.submit "分析を終了する", name: 'finish' %>
          <div class="modal_btn"><a>現状確認</a></div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render partial: "status_confirmation_window" %>
</div>
<%= javascript_pack_tag 'is_why/modal' %>